<div class="collection">
  <ol>
    <% @teachers.each do |teacher| %>
      <li>
        <p><%= teacher.name %></p>
        <p><%= teacher.hiredate %></p>
        <p>"<%= teacher.age %>"</p>
        <p><%= link_to "Teacher's Students", school_students_path(@school) %></p>
        <% teacher.students.each do |s| %>
        <%= s.name %>
        <%= s.age %>
          <% end %>
      </li>
    <% end %>

  </ol>
</div>
